header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.cont-logo{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.logo {
    content: url("../images/logo.png");
}
